{% extends 'base.html' %}
{% block body %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <h1>Ajouter un exercice</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.titre.label }}<br>
                {{ form.titre(size=32) }}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(cols="35", rows="3") }}
            </p>
            <p>
                {{ form.contenue.label }}<br>
                {{ form.contenue(cols="35", rows="3") }}
            </p>
            <p>
                {{ form.mediaPath.label }}<br>
                {{ form.mediaPath(size=32) }}
            </p>
            <p>
                {{ form.id_reponse.label }}<br>
                {{ form.id_reponse(size=3) }}
            </p>
            <p>
                {{ form.imgPath.label }}<br>
                {{ form.imgPath(size=32) }}
            </p><p>
                {{ form.imgReponsePath.label }}<br>
                {{ form.imgReponsePath(size=32) }}
            </p>
            <p>
                {{ form.cube_needed.label }}<br>
                {{ form.cube_needed(cols="35", rows="3") }}
            </p>
            <p>
                {{ form.matrix_size_x.label }}<br>
                {{ form.matrix_size_x(size=3) }}
            </p>
            <p>
                {{ form.matrix_size_y.label }}<br>
                {{ form.matrix_size_y(size=3) }}
            </p>
            <p>
                {{ form.disponible.label }}<br>
                {{ form.disponible(size=3) }}
            </p>
            <p>
                {{ form.matrix_size_x_board.label }}<br>
                {{ form.matrix_size_x_board(size=3) }}
            </p>
            <p>
                {{ form.matrix_size_y_board.label }}<br>
                {{ form.matrix_size_y_board(size=3) }}
            </p>
            <p>
                {{ form.coord_finish.label }}<br>
                {{ form.coord_finish(size=35) }}
            </p>
            <p>
                {{ form.x_start.label }}<br>
                {{ form.x_start(size=3) }}
            </p>
            <p>
                {{ form.y_start.label }}<br>
                {{ form.y_start(size=3) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}
<style>
.page{
  background-image: url('/static/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 0 15%;
}
a{
  color: #2D3142;
}
h1, h2 {
  font-family: 'Roboto', cursive;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
  font-size: 127%;
}
.bording{
  border: 1px darkgray solid;
  padding: 2%;
  margin-bottom: 120px;
}
.content{
  text-align: left;
  margin: 2%;
}
.carousel{
  margin: 10%;
  padding: 10%;
}
img{
  height: 30px;
  height: auto;
}
</style>