{% extends 'base.html' %}
{% block body %}
    <h1>
    Bienvenue sur Tesserakt !
    </h1>
    <div class="content">
      <h2>Qu'est-ce-que Tesserakt ?</h2>
      <p class="bording">Tesserakt est un produit permettant l'apprentissage des notions basiques et avancées de l'informatique dès le plus
        jeune âge, en permettant une approche physique avec les éléments de code par le biais de cubes à moduler. </p>
    </div>
    <div class="content">
      <h2>Comment se procurer un kit Tesserakt ?</h2>
      <p class="bording">Le projet étant en phase de lancement, nous vous invitons à prendre contact avec nous à l'adresse Tesserakt.contact@gmail.com. <br> kit Tesserakt contient un cube "Master" réglé selon vos paramètres de connexions, 5 cubes "Commandes" ainsi que l'accès à nos cours et à nos exercices</p>
      <p align="center"><a href=login ><button type="button" class="btn btn-outline-secondary">Connectez-vous !</button></a></p>

    </div>
{% endblock %}
<style>
.page{
  background-image: url('/static/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 0 15%;
}
a{
  color: #2D3142;
}
h1, h2 {
  font-family: 'Roboto', cursive;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
  font-size: 127%;
}
.bording{
  border: 1px darkgray solid;
  padding: 2%;
  margin-bottom: 120px;
}
.content{
  text-align: left;
  margin: 2%;
}
.carousel{
  margin: 10%;
  padding: 10%;
}
img{
  height: 30px;
  height: auto;
}
</style>