<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" link href="/static/css/index.css">
    </header>
    <body>
        <div class="page">
            <br>
            <img width="60" height="40" src="/static/images/logo.png" alt="logoTesserakt"/>
            <h1>
            Bienvenue sur Tesserakt !
            </h1>
            <div class="content">
              <h2>Qu'est-ce-que Tesserakt ?</h2>
              <p class="bording">Tesserakt est un produit permettant l'apprentissage des notions basiques et avancées de l'informatique dès le plus
                jeune âge, en permettant une approche physique avec les éléments de code par le biais de cubes à moduler. </p>
            </div>
            <div class="content">
              <h2>Comment se procurer un kit Tesserakt ?</h2>
              <p class="bording">Le projet étant en phase de lancement, nous vous invitons à prendre contact avec nous à l'adresse Tesserakt.contact@gmail.com. <br> kit Tesserakt contient un cube "Master" réglé selon vos paramètres de connexions, 5 cubes "Commandes" ainsi que l'accès à nos cours et à nos exercices</p>
            </div>
        </div>
    </body>
</html>