{% extends 'base.html' %}
{% block body %}
      <div class='page'>
          <h3>Bienvenue</h3>
          <p>Voici le récapitulatif pour {{ email }}</p>
          <div class="row offsetAll">
              <div class="col-5 offset">
                    <div class="centeredTitle"><u>Commande :</u></div>

              </div>
              <div class="col-2">

              </div>
              <div class="col-5 offset">
                  <div class="centeredTitle"><u>Avancement :</u></div>

              </div>
          </div>
      </div>
{% endblock %}
<style>
.page{
  background-image: url('/static/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 0 15%;
}
.offset{
    padding: 15px;
    margin 15px;
    border-color: #BFAB25;
    border-width : 2px ;
    border-style: solid;
}
.centeredTitle{
    text-align:center;
}
.offsetAll{
    padding: 15px;
}
a{
  color: #2D3142;
}
h1, h2 {
  font-family: 'Roboto', cursive;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
  font-size: 127%;
}
.bording{
  border: 1px darkgray solid;
  padding: 2%;
  margin-bottom: 120px;
}
.content{
  text-align: left;
  margin: 2%;
}
.carousel{
  margin: 10%;
  padding: 10%;
}
img{
  height: 30px;
  height: auto;
}
</style>