{% extends 'base.html' %}
{% set active = "updateOrderByEmail" %}
{% block body %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <h1>Nouvel état de la commande</h1>
        <form action="/updateOrderByEmail" method="post" novalidate>
            <p>
                <select name="email" id="mailFormInput">
                    {% for email in emails %}
                    <option value={{ email }}>{{ email }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <select name="status" id="mailFormInput">
                    <option value="Aucune">Aucune</option>
                    <option value="EnCours">En Cours</option>
                    <option value="Envoye">Envoyé</option>
                    <option value="Livre">Livré</option>
                </select>
            </p>
            <p><input type="submit" class="btn btn-primary" value="Mettre à jours"></input></p>
        </form>
    </div>
    <div class="row">
        <div class="col-2 between">
            id
        </div>
        <div class="col-2 between">
            email
        </div>
        <div class="col-2 between">
            statut
        </div>
        <div class="col-2 between">
            date_init
        </div>
        <div class="col-2 between">
            date_sent
        </div>
        <div class="col-2 between">
            date_received
        </div>
    </div>
    {% if orders %}
        {% for order in orders %}
            <div class="row">
                <div class="col-2 between">
                    {{ order.id }}
                </div>
                <hr>
                <div class="col-2 between">
                    {{ order.email }}
                </div>
                <hr>
                <div class="col-2 between" style="text-align:right;">
                    {{ order.status }} <button type="button" class="btn btn-warning" onclick="window.location.href='{{ url_for( 'updateOrderById', id= order.id) }}';"> + </button>
                </div>
                <hr>
                <div class="col-2 between">
                    {{ order.date_init }}
                </div>
                <hr>
                <div class="col-2 between">
                    {{ order.date_sent }}
                </div>
                <hr>
                <div class="col-2 between">
                    {{ order.date_received }}
                </div>

            </div>
        {% endfor %}
    {% endif %}
    <br>
</div>
{% endblock %}
<style>
.page{
  background-image: url('/static/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  border-color: #BFAB25;
  border-width : 2px ;
  border-style: solid;
  text-align: center;
  padding: 0 15%;
}
a{
  color: #2D3142;
}
h1, h2 {
  font-family: 'Roboto', cursive;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
  font-size: 127%;
}
.bording{
  border: 1px darkgray solid;
  padding: 2%;
  margin-bottom: 120px;
}
.content{
  text-align: left;
  margin: 2%;
}
.carousel{
  margin: 10%;
  padding: 10%;
}
img{
  height: 30px;
  height: auto;
}
.between{
  border-bottom: 2px solid #BFAB25;
  border-top: 2px solid #BFAB25;
}
</style>